header {
    background: #BBBBBB;
    padding: 20px 0;
}

.box {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.box h1 {
    margin: 0;
}

nav {
    position: absolute;
    top: 110px;
    right: 10px;
}

nav li {
    display: inline-block;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: #C78C19;
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

.copyright::before {
    content: "\00A9  ";
}